@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    
}

main {
    background-color: white;
    width: 100%;
}

.results {
    background-color: hsla(0, 0%, 100%, 1);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.mainresults {
    width: 100%;
    background: linear-gradient(to bottom, #6743FFFF, #312CEAFF);
    border-radius: 0% 0% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainhead {
    color: hsl(241, 100%, 89%);
}

.score {
    background: linear-gradient(to bottom, #4C23C9FF, #4734F0FF);
    border-radius: 50%;
    width: 50%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultscore {
    color:  white;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 15%;
}

.totalscore {
    color: hsl(241, 100%, 89%);
    margin-top: 5%;
}

.msub {
    color: white;
}

.mdesc {
    color: hsl(241, 100%, 89%);
    width: 70%;
    text-align: center;
}

.summary {
    display: flex;
    flex-direction: column;
}

.sumtitle {
    margin-left: 11%;
    color: hsl(224, 30%, 27%);
}

.sumlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

span {
    color: gray;
}

.sum_points{
    justify-self: flex-end;
    margin-left: 0%;
    margin-right: 0%;
}

.reaction {
    width: 80%;
    margin: 2% 0%;
    border-radius: 10px;
    background-color: hsla(0, 100%, 67%, 0.1);
    font-weight: bold;
    display: flex;
}

.reaction_icon {
    width: 5%;
    margin: 0% 5% 0% 5%;
}

.reaction_title {
    color: hsl(0, 100%, 67%);
    margin-left: 0%;
    margin-right: 40%;
}

.memory {
    width: 80%;
    margin: 2% 0%;
    border-radius: 10px;
    background-color: hsla(39, 100%, 56%, 0.1);
    font-weight: bold;
    display: flex;
}

.memory_icon {
    width: 5%;
    margin: 0% 5% 0% 5%;
}

.memory_title {
    color: hsl(39, 100%, 56%);
    margin-left: 0%;
    margin-right: 41%;
}

.verbal {
    width: 80%;
    margin: 2% 0%;
    border-radius: 10px;
    background-color: hsla(166, 100%, 37%, 0.1);
    font-weight: bold;
    display: flex;
}

.verbal_icon {
    width: 5%;
    margin: 0% 5% 0% 5%;
}

.verbal_title {
    color: hsl(166, 100%, 37%);
    margin-left: 0%;
    margin-right: 45.3%;
}

.visual {
    width: 80%;
    margin: 2% 0%;
    border-radius: 10px;
    background-color: hsla(234, 85%, 45%, 0.1);
    font-weight: bold;
    display: flex;
}

.visual_icon {
    width: 5%;
    margin: 0% 5% 0% 5%;
}

.visual_title {
    color: hsl(234, 85%, 45%);
    margin-left: 0%;
    margin-right: 46.3%;
}

.continue {
    width: 80%;
    height: 50px;
    margin: 5% 0%;
    background-color: hsla(224, 30%, 27%, 1);
    color: white;
    border: none;
    border-radius: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 15px;
}

.continue:hover {
    cursor: pointer;
}

.continue:active {
    background-color: hsl(241, 81%, 54%);
}

@media screen and (min-width: 380px ) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .results {
        margin: 13% auto;
        background-color: hsla(0, 0%, 100%, 1);
        width: 40%;
        display: flex;
        flex-direction: row;
        border-radius: 50px;
        box-shadow: 10px 15px 50px lightblue;
    }

    .mainresults {
        width: 50%;
        border-radius: 10% 10% 10% 10%;
    }

    .score {
        height: 150px;
    }

    .summary {
        width: 50%;
    }

    .reaction_title {
        margin-right: 26%;
    }

    .memory_title {
        margin-right: 27%;
    }

    .verbal_title {
        margin-right: 33%;
    }

    .visual_title {
        margin-right: 34.5%;
    }
}